# Python
__pycache__/
*.pyc
venv/
.env
.env.docker
.coverage
.pytest_cache/

# Node
node_modules/
dist/

# Docker
*.log
.env.docker
script/

# IDE
.vscode/
.idea/
*.db

# Upload files (user-generated content, jangan commit ke git)
backend/uploads/